Repository cloud-shuttle/leptos-state: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-consistency, check-documentation-links

check-version-consistency:
  name: check version consistency
  entry: .git/hooks/check-version-consistency
  language: script
  pass_filenames: false

check-documentation-links:
  name: check documentation links
  entry: .git/hooks/check-documentation-links
  language: script
  pass_filenames: true

feat: complete v1.0.0 modernization and documentation updates
  Makefile
  README.md
  docs/CHANGELOG.md
  docs/ROADMAP.md
  docs/api-reference/API_REFERENCE.md
  docs/examples/README.md
  examples/compatibility-example/src/main.rs
  leptos-state/Cargo.toml
  leptos-state/src/machine/codegen.rs
  leptos-state/src/machine/documentation.rs
  leptos-state/src/machine/machine.rs
  leptos-state/src/machine/persistence.rs
  leptos-state/src/machine/visualization.rs
  leptos-state/test_docs/documentation.json
  leptos-state/test_docs/documentation_custom.txt
  tests/rust/integration/machine_tests.rs
  tests/rust/unit/test_serialization_feature.rs
Due: check-version-consistency, check-documentation-links

fix: resolve compilation error in compatibility example
  examples/compatibility-example/src/main.rs
Due: none

docs: add ecosystem integration documentation and examples
  README.md
  docs/ECOSYSTEM.md
  docs/ROADMAP.md
  docs/examples/README.md
  examples/ecosystem-integration/Cargo.toml
  examples/ecosystem-integration/src/main.rs
Due: check-version-consistency, check-documentation-links

docs: Add comprehensive bundle optimization documentation
  README.md
  docs/CHANGELOG.md
  docs/api-reference/API_REFERENCE.md
  docs/development/V1_1_0_PLAN.md
  examples/ecosystem-integration/Cargo.toml
  examples/ecosystem-integration/src/main.rs
  leptos-state/Cargo.toml
  leptos-state/benches/state_machine_performance.rs
  leptos-state/src/machine/bundle_optimization.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/optimization.rs
  leptos-state/test_docs/documentation.html
  leptos-state/test_docs/documentation.json
  leptos-state/test_docs/documentation.md
  leptos-state/test_docs/documentation_custom.txt
  leptos-state/test_generated/docs/state_machine.md
  leptos-state/test_generated/src/state_machine.rs
  leptos-state/tests/test_bundle_optimization.rs
  tests/rust/unit/test_bundle_optimization.rs
Due: check-version-consistency, check-documentation-links

docs: Add comprehensive XState comparison and feature parity roadmap
  docs/ROADMAP.md
  docs/api-reference/API_REFERENCE.md
  docs/comparison/XSTATE_COMPARISON.md
Due: check-version-consistency, check-documentation-links

fix: Resolve compilation errors and clippy warnings
  examples/analytics-dashboard/src/lib.rs
  examples/codegen/generated/docs/state_machine.md
  examples/codegen/generated/src/StateMachine.ts
  examples/codegen/generated/src/state_machine.rs
  examples/codegen/multi_lang/docs/state_machine.md
  examples/codegen/multi_lang/src/StateMachine.ts
  examples/codegen/multi_lang/src/state_machine.rs
  examples/codegen/test_generated/src/state_machine.rs
  examples/counter/src/main.rs
  examples/todo-app/src/lib.rs
  examples/todo-app/src/simple_todo.rs
  examples/traffic-light/src/main.rs
  examples/video-player/src/components.rs
  examples/video-player/src/lib.rs
  examples/video-player/src/state_machine.rs
  examples/video-player/src/video_player.rs
  leptos-state/src/hooks/use_machine.rs
  leptos-state/src/lib.rs
  leptos-state/src/machine/codegen.rs
  leptos-state/src/machine/documentation.rs
  leptos-state/src/machine/integration.rs
  leptos-state/src/machine/machine.rs
  leptos-state/src/machine/performance.rs
  leptos-state/src/machine/states.rs
  leptos-state/src/store/async_store.rs
  leptos-state/src/store/store.rs
  leptos-state/test_docs/documentation.html
  leptos-state/test_docs/documentation.json
  leptos-state/test_docs/documentation.md
  leptos-state/test_docs/documentation_custom.txt
  tests/rust/integration/lib.rs
Due: check-documentation-links

Fix compilation and clippy errors
  examples/codegen/test_generated/src/state_machine.rs
  leptos-state/src/hooks/use_machine.rs
  leptos-state/src/hooks/use_store.rs
  leptos-state/src/lib.rs
  leptos-state/src/machine/actions.rs
  leptos-state/src/machine/machine.rs
  leptos-state/src/store/devtools.rs
  leptos-state/test_docs/documentation.html
  leptos-state/test_docs/documentation.json
  leptos-state/test_docs/documentation.md
  tests/rust/integration/fixtures.rs
  tests/rust/integration/machine_tests.rs
  tests/rust/integration/store_tests.rs
Due: check-documentation-links

deploy: 3456ec4ef182bfcdde3022fdcaa46db1a547d1e8
  codegen_example/enum.GameEvent.html
  compatibility_example/struct.AppStore.html
  help.html
  leptos_state/hooks/use_store/index.html
  leptos_state/hooks/use_store/struct.StoreHistory.html
  leptos_state/index.html
  leptos_state/machine/actions/index.html
  leptos_state/machine/actions/struct.ActionExecution.html
  leptos_state/machine/actions/trait.ActionExecutor.html
  search-index.js
  search.desc/leptos_state/leptos_state-desc-0-.js
  search.desc/leptos_state/leptos_state-desc-5-.js
  settings.html
  src/leptos_state/hooks/use_machine.rs.html
  src/leptos_state/hooks/use_store.rs.html
  src/leptos_state/lib.rs.html
  src/leptos_state/machine/actions.rs.html
  src/leptos_state/machine/machine.rs.html
  src/leptos_state/store/devtools.rs.html
  traffic_light_example/enum.TrafficEvent.html
  traffic_light_example/struct.TrafficMachine.html
  traffic_light_example/struct.TrafficMachineState.html
  trait.impl/core/default/trait.Default.js
  trait.impl/leptos_state/machine/events/trait.Event.js
  trait.impl/leptos_state/machine/machine/trait.MachineState.js
  trait.impl/leptos_state/machine/machine/trait.StateMachine.js
  trait.impl/leptos_state/store/store/trait.Store.js
Due: none

Add comprehensive remediation plan and design documents
  docs/design/api-contracts-design.md
  docs/design/hooks-design.md
  docs/design/machine-core-design.md
  docs/design/store-core-design.md
  docs/remediation/MASTER_REMEDIATION_PLAN.md
  docs/remediation/REPO_STATUS_REVIEW.md
Due: check-version-consistency, check-documentation-links

deploy: f416dfb836e1715216ac037a87accf5682f29954
  history_example/enum.TestEvent.html
  traffic_light_example/enum.TrafficEvent.html
  traffic_light_example/struct.TrafficMachine.html
  traffic_light_example/struct.TrafficMachineState.html
  trait.impl/leptos_state/machine/events/trait.Event.js
  trait.impl/leptos_state/machine/machine/trait.MachineState.js
  trait.impl/leptos_state/machine/machine/trait.StateMachine.js
Due: none

Add partial machine module refactoring
  leptos-state/src/machine/builder/mod.rs
  leptos-state/src/machine/core.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/types.rs
Due: none

Implement async store create_resource API for Leptos 0.8.9
  leptos-state/src/store/async_store.rs
Due: none

Fix critical clippy errors for compilation
  leptos-state/src/machine/builder/mod.rs
  leptos-state/src/machine/core.rs
  leptos-state/src/machine/types.rs
  leptos-state/src/store/async_store.rs
Due: none

Implement critical fixes for compilation
  leptos-state/src/machine/builder/mod.rs
  leptos-state/src/machine/core.rs
  leptos-state/src/machine/history.rs
  leptos-state/src/machine/integration.rs
  leptos-state/src/machine/performance.rs
  leptos-state/src/store/async_store.rs
Due: none

Fix critical compilation blockers
  leptos-state/src/machine/builder/mod.rs
  leptos-state/src/machine/core.rs
  leptos-state/src/machine/integration.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/testing.rs
  leptos-state/src/store/async_store.rs
Due: none

Fix major compilation issues and clean up codebase
  docs/design/async-store-leptos-0.8-fix.md
  docs/design/event-trait-bounds-fix.md
  docs/design/machine-builder-trait-fix.md
  docs/design/machinestate-import-fix.md
  examples/codegen/generated/docs/state_machine.md
  examples/codegen/generated/src/StateMachine.ts
  examples/codegen/generated/src/state_machine.rs
  examples/codegen/multi_lang/docs/state_machine.md
  examples/codegen/multi_lang/src/StateMachine.ts
  examples/codegen/multi_lang/src/state_machine.rs
  examples/codegen/test_generated/src/state_machine.rs
  leptos-state/src/compat/mod.rs
  leptos-state/src/compat/resources.rs
  leptos-state/src/machine/builder/mod.rs
  leptos-state/src/machine/codegen.rs
  leptos-state/src/machine/core.rs
  leptos-state/src/machine/documentation.rs
  leptos-state/src/machine/history.rs
  leptos-state/src/machine/integration.rs
  leptos-state/src/machine/machine.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/performance.rs
  leptos-state/src/machine/persistence.rs
  leptos-state/src/machine/testing.rs
  leptos-state/src/machine/types.rs
  leptos-state/src/machine/visualization.rs
  leptos-state/src/store/async_store.rs
  leptos-state/test_docs/documentation.html
  leptos-state/test_docs/documentation.json
  leptos-state/test_docs/documentation_custom.txt
Due: check-version-consistency, check-documentation-links

Add comprehensive goals and analysis documentation
  docs/COMPILATION_ANALYSIS.md
  docs/GOALS_AND_ANALYSIS.md
  docs/TECHNICAL_ANALYSIS.md
Due: check-version-consistency, check-documentation-links

Fix critical compilation issues
  docs/CRITICAL_FIXES_SUMMARY.md
  leptos-state/src/compat/resources.rs
  leptos-state/src/machine/actions.rs
  leptos-state/src/machine/builder/mod.rs
  leptos-state/src/machine/codegen.rs
  leptos-state/src/machine/core.rs
  leptos-state/src/machine/documentation.rs
  leptos-state/src/machine/history.rs
  leptos-state/src/machine/integration.rs
  leptos-state/src/machine/machine.rs
  leptos-state/src/machine/performance.rs
  leptos-state/src/machine/testing.rs
  leptos-state/src/store/async_store.rs
Due: check-version-consistency, check-documentation-links

Major progress on fixing Send + Sync bounds and trait implementations
  leptos-state/src/compat/resources.rs
  leptos-state/src/machine/core.rs
  leptos-state/src/machine/guards.rs
  leptos-state/src/machine/history.rs
  leptos-state/src/machine/machine.rs
  leptos-state/src/machine/performance.rs
  leptos-state/src/machine/testing.rs
  leptos-state/src/store/async_store.rs
Due: none

🎉 COMPILATION SUCCESS! Fix all remaining critical compilation errors
  leptos-state/src/machine/core.rs
  leptos-state/src/machine/machine.rs
  leptos-state/src/machine/performance.rs
  leptos-state/src/machine/testing.rs
  leptos-state/src/store/async_store.rs
Due: none

🔄 PARTIAL: Split machine.rs into modular structure
  leptos-state/src/machine/child_state_builder.rs
  leptos-state/src/machine/child_transition_builder.rs
  leptos-state/src/machine/core_types.rs
  leptos-state/src/machine/machine_builder.rs
  leptos-state/src/machine/machine_state_impl.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/state_builder.rs
  leptos-state/src/machine/traits.rs
  leptos-state/src/machine/transition_builder.rs
Due: none

✅ SUCCESS: Fix all compilation errors in machine.rs split
  leptos-state/src/machine/child_state_builder.rs
  leptos-state/src/machine/codegen.rs
  leptos-state/src/machine/core_types.rs
  leptos-state/src/machine/documentation.rs
  leptos-state/src/machine/history.rs
  leptos-state/src/machine/machine_builder.rs
  leptos-state/src/machine/machine_state_impl.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/performance.rs
  leptos-state/src/machine/state_builder.rs
  leptos-state/src/machine/testing.rs
Due: none

🔄 PARTIAL: Split testing.rs into modular structure
  leptos-state/src/machine/coverage_tracking.rs
  leptos-state/src/machine/integration_testing.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/performance_tracking.rs
  leptos-state/src/machine/property_testing.rs
  leptos-state/src/machine/test_builder.rs
  leptos-state/src/machine/test_cases.rs
  leptos-state/src/machine/test_data_generation.rs
  leptos-state/src/machine/test_macros.rs
  leptos-state/src/machine/test_runner.rs
  leptos-state/src/machine/test_types.rs
  leptos-state/src/machine/testing.rs
Due: none

🔄 PARTIAL: Split performance.rs into modular structure
  leptos-state/src/machine/cache_system.rs
  leptos-state/src/machine/lazy_evaluation.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/optimized_machine.rs
  leptos-state/src/machine/performance.rs
  leptos-state/src/machine/performance_builder.rs
  leptos-state/src/machine/performance_config.rs
  leptos-state/src/machine/performance_metrics.rs
  leptos-state/src/machine/performance_profiler.rs
Due: none

🔄 PARTIAL: Split documentation.rs into modular structure
  leptos-state/src/machine/doc_builder.rs
  leptos-state/src/machine/doc_config.rs
  leptos-state/src/machine/doc_data.rs
  leptos-state/src/machine/doc_generator.rs
  leptos-state/src/machine/doc_styling.rs
  leptos-state/src/machine/documentation.rs
  leptos-state/src/machine/mod.rs
Due: none

🔄 PARTIAL: Split actions.rs into modular structure
  leptos-state/src/machine/action_builder.rs
  leptos-state/src/machine/action_composite.rs
  leptos-state/src/machine/action_control.rs
  leptos-state/src/machine/action_core.rs
  leptos-state/src/machine/action_executor.rs
  leptos-state/src/machine/actions.rs
  leptos-state/src/machine/mod.rs
Due: none

🔄 PARTIAL: Split guards.rs into modular structure
  leptos-state/src/machine/guard_builder.rs
  leptos-state/src/machine/guard_composite.rs
  leptos-state/src/machine/guard_context.rs
  leptos-state/src/machine/guard_core.rs
  leptos-state/src/machine/guard_logical.rs
  leptos-state/src/machine/guard_state.rs
  leptos-state/src/machine/guard_temporal.rs
  leptos-state/src/machine/guards.rs
  leptos-state/src/machine/mod.rs
Due: none

🔄 PARTIAL: Split visualization.rs into modular structure
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/visualization.rs
  leptos-state/src/machine/visualization_config.rs
  leptos-state/src/machine/visualization_core.rs
  leptos-state/src/machine/visualization_data.rs
  leptos-state/src/machine/visualization_debug.rs
  leptos-state/src/machine/visualization_events.rs
  leptos-state/src/machine/visualization_ext.rs
  leptos-state/src/machine/visualization_monitor.rs
Due: none

🔄 PARTIAL: Split codegen.rs into modular structure
  leptos-state/src/machine/codegen.rs
  leptos-state/src/machine/codegen_builder.rs
  leptos-state/src/machine/codegen_config.rs
  leptos-state/src/machine/codegen_core.rs
  leptos-state/src/machine/codegen_ext.rs
  leptos-state/src/machine/codegen_types.rs
  leptos-state/src/machine/mod.rs
Due: none

🔄 PARTIAL: Split integration.rs into modular structure
  leptos-state/src/machine/integration.rs
  leptos-state/src/machine/integration_adapters.rs
  leptos-state/src/machine/integration_config.rs
  leptos-state/src/machine/integration_core.rs
  leptos-state/src/machine/integration_events.rs
  leptos-state/src/machine/integration_ext.rs
  leptos-state/src/machine/integration_metrics.rs
  leptos-state/src/machine/mod.rs
Due: none

🔄 PARTIAL: Split store.rs into modular structure
  leptos-state/src/store/mod.rs
  leptos-state/src/store/store.rs
  leptos-state/src/store/store_core.rs
  leptos-state/src/store/store_memoized.rs
  leptos-state/src/store/store_persistence.rs
  leptos-state/src/store/store_selectors.rs
  leptos-state/src/store/store_simple.rs
Due: none

🔄 PARTIAL: Split history.rs into modular structure
  leptos-state/src/machine/history.rs
  leptos-state/src/machine/history_builder.rs
  leptos-state/src/machine/history_core.rs
  leptos-state/src/machine/history_machine.rs
  leptos-state/src/machine/history_tracker.rs
  leptos-state/src/machine/mod.rs
Due: none

🔄 PARTIAL: Split persistence.rs into modular structure
  leptos-state/src/machine/persistence_core.rs
  leptos-state/src/machine/persistence_metadata.rs
  leptos-state/src/machine/persistence_serialization.rs
  leptos-state/src/machine/persistence_storage.rs
  leptos-state/src/utils/mod.rs
  leptos-state/src/utils/types.rs
  leptos-state/src/utils/utils_collections.rs
  leptos-state/src/utils/utils_config.rs
  leptos-state/src/utils/utils_error.rs
  leptos-state/src/utils/utils_time.rs
  leptos-state/src/utils/utils_traits.rs
Due: none

🔄 PARTIAL: Split persistence.rs into modular structure
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/persistence.rs
  leptos-state/src/machine/persistence_ext.rs
  leptos-state/src/machine/persistence_manager.rs
Due: none

🔧 COMPILATION FIXES: Systematic fixes for major issues
  leptos-state/Cargo.toml
  leptos-state/src/compat/mod.rs
  leptos-state/src/hooks/use_store.rs
  leptos-state/src/lib.rs
  leptos-state/src/machine/action_core.rs
  leptos-state/src/machine/codegen_config.rs
  leptos-state/src/machine/codegen_core.rs
  leptos-state/src/machine/codegen_ext.rs
  leptos-state/src/machine/core.rs
  leptos-state/src/machine/doc_builder.rs
  leptos-state/src/machine/history_builder.rs
  leptos-state/src/machine/history_machine.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/optimized_machine.rs
  leptos-state/src/machine/persistence_serialization.rs
  leptos-state/src/machine/property_testing.rs
  leptos-state/src/store/mod.rs
  leptos-state/src/store/store_persistence.rs
  leptos-state/src/store/store_simple.rs
Due: check-version-consistency

🔧 FILE SPLITTING COMPLETE: All remaining files successfully split into logical modules
  leptos-state/src/machine/core.rs
  leptos-state/src/machine/core_actions.rs
  leptos-state/src/machine/core_errors.rs
  leptos-state/src/machine/core_guards.rs
  leptos-state/src/machine/core_machine.rs
  leptos-state/src/machine/core_macros.rs
  leptos-state/src/machine/core_state.rs
  leptos-state/src/machine/core_traits.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/types.rs
  leptos-state/src/machine/types_basic.rs
  leptos-state/src/machine/types_config.rs
  leptos-state/src/machine/types_context.rs
  leptos-state/src/machine/types_history.rs
  leptos-state/src/store/async_store.rs
  leptos-state/src/store/async_store_cached.rs
  leptos-state/src/store/async_store_core.rs
  leptos-state/src/store/async_store_hooks.rs
  leptos-state/src/store/async_store_infinite.rs
  leptos-state/src/store/devtools.rs
  leptos-state/src/store/devtools_connectors.rs
  leptos-state/src/store/devtools_core.rs
  leptos-state/src/store/devtools_timeline.rs
  leptos-state/src/store/mod.rs
Due: none

🔧 FIXING COMPILATION ERRORS: Systematic import fixes after file splitting
  leptos-state/src/machine/builder/mod.rs
  leptos-state/src/machine/codegen_builder.rs
  leptos-state/src/machine/doc_builder.rs
  leptos-state/src/machine/doc_data.rs
  leptos-state/src/machine/doc_generator.rs
  leptos-state/src/machine/mod.rs
Due: none

Path conditions:
  check-version-consistency: any of: ^(Cargo\.toml|leptos-state/Cargo\.toml|README\.md|docs/.*\.md)$, but not: (?x)^(
  target/.*|
  \.git/.*|
  node_modules/.*|
  dist/.*|
  pkg/.*|
  \.cargo/.*|
  flake\.lock|
  pnpm-lock\.yaml|
  Cargo\.lock
)$

  check-documentation-links: any of: \.md$, but not: (?x)^(
  target/.*|
  \.git/.*|
  node_modules/.*|
  dist/.*|
  pkg/.*|
  \.cargo/.*|
  flake\.lock|
  pnpm-lock\.yaml|
  Cargo\.lock
)$

