Repository cloud-shuttle/leptos-state: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-consistency, check-documentation-links

.pre-commit-config.yaml:

# Pre-commit hooks configuration for leptos-state
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Rust-specific hooks
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        args: [--edition, "2024"]
        files: \.rs$
      - id: clippy
        args: [--all-targets, --all-features, --, -D, warnings]
        files: \.rs$

  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
        args: [--unsafe]
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

  # Documentation hooks
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types: [markdown, yaml, json]
        exclude: ^(docs/|\.md$)

  # Security hooks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: package\.lock\.json$

  # Custom local hooks
  - repo: local
    hooks:
      - id: cargo-check
        name: cargo check
        entry: cargo check --quiet
        language: system
        files: \.rs$
        pass_filenames: false
        always_run: true

      - id: cargo-test
        name: cargo test
        entry: cargo test --quiet
        language: system
        files: \.rs$
        pass_filenames: false
        always_run: true

      - id: cargo-doc
        name: cargo doc check
        entry: cargo doc --no-deps --quiet
        language: system
        files: \.rs$
        pass_filenames: false
        always_run: true

      - id: check-version-consistency
        name: check version consistency
        entry: .git/hooks/check-version-consistency
        language: script
        files: ^(Cargo\.toml|leptos-state/Cargo\.toml|README\.md|docs/.*\.md)$
        pass_filenames: false

      - id: check-documentation-links
        name: check documentation links
        entry: .git/hooks/check-documentation-links
        language: script
        files: \.md$
        pass_filenames: true

# Configuration
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: 3.0.0

# Exclude patterns
exclude: |
  (?x)^(
    target/.*|
    \.git/.*|
    node_modules/.*|
    dist/.*|
    pkg/.*|
    \.cargo/.*|
    flake\.lock|
    pnpm-lock\.yaml|
    Cargo\.lock
  )$

🎯 FILE REFACTORING PROGRESS - Persistence Metadata Modularized
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/persistence/metadata/builder.rs
  leptos-state/src/machine/persistence/metadata/core.rs
  leptos-state/src/machine/persistence/metadata/mod.rs
  leptos-state/src/machine/persistence/metadata/schema.rs
  leptos-state/src/machine/persistence/metadata/stats.rs
  leptos-state/src/machine/persistence/metadata/utils.rs
  leptos-state/src/machine/persistence/mod.rs
  leptos-state/src/machine/persistence/serialization/core.rs
  leptos-state/src/machine/persistence_metadata.rs
Due: none

🎯 FILE REFACTORING PROGRESS - Time Utilities Modularized
  leptos-state/src/utils/mod.rs
  leptos-state/src/utils/time/core.rs
  leptos-state/src/utils/time/delayed.rs
  leptos-state/src/utils/time/mod.rs
  leptos-state/src/utils/time/rate_limit.rs
  leptos-state/src/utils/time/timer.rs
  leptos-state/src/utils/time/triggers.rs
  leptos-state/src/utils/time/windows.rs
  leptos-state/src/utils/types.rs
  leptos-state/src/utils/utils_time.rs
Due: none

🎯 FILE REFACTORING PROGRESS - Integration Config Modularized
  leptos-state/src/machine/integration/config/connection.rs
  leptos-state/src/machine/integration/config/core.rs
  leptos-state/src/machine/integration/config/mod.rs
  leptos-state/src/machine/integration/config/retry.rs
  leptos-state/src/machine/integration/config/routing.rs
  leptos-state/src/machine/integration/mod.rs
  leptos-state/src/machine/integration_config.rs
  leptos-state/src/machine/mod.rs
Due: none

🎯 FILE REFACTORING PROGRESS - Integration Metrics Modularized
  leptos-state/src/machine/integration/metrics/adapter.rs
  leptos-state/src/machine/integration/metrics/analysis.rs
  leptos-state/src/machine/integration/metrics/core.rs
  leptos-state/src/machine/integration/metrics/mod.rs
  leptos-state/src/machine/integration/metrics/summary.rs
  leptos-state/src/machine/integration/mod.rs
  leptos-state/src/machine/integration_core.rs
  leptos-state/src/machine/integration_metrics.rs
  leptos-state/src/machine/mod.rs
Due: none

🎯 FILE REFACTORING PROGRESS - Persistence Manager Modularized
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/persistence/manager/backup.rs
  leptos-state/src/machine/persistence/manager/core.rs
  leptos-state/src/machine/persistence/manager/info.rs
  leptos-state/src/machine/persistence/manager/mod.rs
  leptos-state/src/machine/persistence/manager/stats.rs
  leptos-state/src/machine/persistence/manager/utils.rs
  leptos-state/src/machine/persistence/mod.rs
  leptos-state/src/machine/persistence_manager.rs
Due: none

🎯 FILE REFACTORING PROGRESS - Code Generation Config Modularized
  leptos-state/src/machine/codegen/config/core.rs
  leptos-state/src/machine/codegen/config/languages.rs
  leptos-state/src/machine/codegen/config/mod.rs
  leptos-state/src/machine/codegen/config/options.rs
  leptos-state/src/machine/codegen/config/templates.rs
  leptos-state/src/machine/codegen/mod.rs
  leptos-state/src/machine/codegen/types/context.rs
  leptos-state/src/machine/codegen/types/file.rs
  leptos-state/src/machine/codegen_config.rs
  leptos-state/src/machine/machine_builder.rs
  leptos-state/src/machine/mod.rs
Due: none

🎯 FILE REFACTORING PROGRESS - Integration Core Modularized
  leptos-state/src/machine/integration/core/adapters.rs
  leptos-state/src/machine/integration/core/health.rs
  leptos-state/src/machine/integration/core/manager.rs
  leptos-state/src/machine/integration/core/mod.rs
  leptos-state/src/machine/integration/core/pipeline.rs
  leptos-state/src/machine/integration/mod.rs
  leptos-state/src/machine/integration_core.rs
  leptos-state/src/machine/mod.rs
Due: none

🎯 FILE REFACTORING PROGRESS - Code Generation Core Modularized
  leptos-state/src/machine/codegen/core/files.rs
  leptos-state/src/machine/codegen/core/generator.rs
  leptos-state/src/machine/codegen/core/guards_actions.rs
  leptos-state/src/machine/codegen/core/mod.rs
  leptos-state/src/machine/codegen/core/stats.rs
  leptos-state/src/machine/codegen/core/structure.rs
  leptos-state/src/machine/codegen/core/tests.rs
  leptos-state/src/machine/codegen/core/transitions.rs
  leptos-state/src/machine/codegen/mod.rs
  leptos-state/src/machine/codegen_core.rs
  leptos-state/src/machine/machine_builder.rs
  leptos-state/src/machine/mod.rs
Due: none

🎯 FILE REFACTORING PROGRESS - Store Memoized Modularized
  leptos-state/src/store/memoized/basic.rs
  leptos-state/src/store/memoized/combined.rs
  leptos-state/src/store/memoized/dependency.rs
  leptos-state/src/store/memoized/factory.rs
  leptos-state/src/store/memoized/lazy.rs
  leptos-state/src/store/memoized/mod.rs
  leptos-state/src/store/memoized/performance.rs
  leptos-state/src/store/mod.rs
  leptos-state/src/store/store.rs
  leptos-state/src/store/store_memoized.rs
Due: none

🎯 FILE REFACTORING PROGRESS - Visualization Monitor Modularized
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/visualization.rs
  leptos-state/src/machine/visualization/mod.rs
  leptos-state/src/machine/visualization/monitor/health.rs
  leptos-state/src/machine/visualization/monitor/mod.rs
  leptos-state/src/machine/visualization/monitor/monitor.rs
  leptos-state/src/machine/visualization/monitor/state_info.rs
  leptos-state/src/machine/visualization/monitor/stats.rs
  leptos-state/src/machine/visualization_ext.rs
  leptos-state/src/machine/visualization_monitor.rs
Due: none

🎯 FILE REFACTORING PROGRESS - Utils Config Modularized
  leptos-state/src/utils/config/core.rs
  leptos-state/src/utils/config/environment.rs
  leptos-state/src/utils/config/logging.rs
  leptos-state/src/utils/config/manager.rs
  leptos-state/src/utils/config/mod.rs
  leptos-state/src/utils/config/sources.rs
  leptos-state/src/utils/config/types.rs
  leptos-state/src/utils/mod.rs
  leptos-state/src/utils/types.rs
  leptos-state/src/utils/utils_config.rs
  leptos-state/src/utils/utils_traits.rs
Due: none

🎯 STUB CODE IMPLEMENTATION COMPLETE - 8 TODO/unimplemented statements resolved
  leptos-state/src/machine/core/builders/mod.rs
  leptos-state/src/machine/machine_builder.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/persistence/manager/core.rs
  leptos-state/src/utils/config/sources.rs
Due: none

🔧 COMPILATION FIXES - Major Progress on Trait Bounds
  Cargo.toml
  examples/counter/Cargo.toml
  examples/todo-app/Cargo.toml
  examples/traffic-light/Cargo.toml
  leptos-state/src/machine/builder/mod.rs
  leptos-state/src/machine/cache_system.rs
  leptos-state/src/machine/child_state_builder.rs
  leptos-state/src/machine/child_transition_builder.rs
  leptos-state/src/machine/codegen/core/generator.rs
  leptos-state/src/machine/codegen_builder.rs
  leptos-state/src/machine/integration/core/adapters.rs
  leptos-state/src/machine/integration/events/errors.rs
  leptos-state/src/machine/integration/events/filter.rs
  leptos-state/src/machine/optimized_machine.rs
  leptos-state/src/machine/persistence/manager/core.rs
Due: check-version-consistency

docs: Add incremental feature restoration roadmap
  docs/roadmap/incremental-feature-restoration.md
Due: check-version-consistency, check-documentation-links

docs: Add comprehensive design documents for Phase 1 and Phase 2
  docs/design/phases/phase-1-trait-bounds/debug-trait-design.md
  docs/design/phases/phase-1-trait-bounds/default-trait-design.md
  docs/design/phases/phase-1-trait-bounds/eq-partialeq-trait-design.md
  docs/design/phases/phase-2-state-machines/action-system-design.md
  docs/design/phases/phase-2-state-machines/entry-exit-actions-design.md
  docs/design/phases/phase-2-state-machines/guard-conditions-design.md
Due: check-version-consistency, check-documentation-links

docs: Add comprehensive Phase 3 design documents for persistence layer
  docs/design/phases/phase-3-persistence/indexeddb-backend-design.md
  docs/design/phases/phase-3-persistence/localstorage-backend-design.md
  docs/design/phases/phase-3-persistence/serialization-design.md
Due: check-version-consistency, check-documentation-links

docs: Add comprehensive Phase 4 design documents for middleware system
  docs/design/phases/phase-4-middleware/logging-middleware-design.md
  docs/design/phases/phase-4-middleware/middleware-architecture-design.md
  docs/design/phases/phase-4-middleware/validation-middleware-design.md
Due: check-version-consistency, check-documentation-links

docs: Add comprehensive Phase 5 design documents for DevTools
  docs/design/phases/phase-5-devtools/devtools-integration-design.md
  docs/design/phases/phase-5-devtools/state-inspector-design.md
  docs/design/phases/phase-5-devtools/time-travel-debugging-design.md
Due: check-version-consistency, check-documentation-links

docs: Add comprehensive Phase 6 design documents for advanced features
  docs/design/phases/phase-6-advanced/performance-monitoring-design.md
  docs/design/phases/phase-6-advanced/testing-utilities-design.md
  docs/design/phases/phase-6-advanced/visualization-design.md
Due: check-version-consistency, check-documentation-links

🎉 MAJOR REMEDIATION COMPLETE: 96.9% Error Reduction (1998→62 errors)
  docs/remediation/main-library-compilation-analysis.md
  docs/remediation/main-library-emergency-fixes.md
  leptos-state/Cargo.toml
  leptos-state/audit_trait_bounds.sh
  leptos-state/src/lib.rs
  leptos-state/src/machine/advanced_testing_minimal.rs
  leptos-state/src/machine/codegen_builder.rs
  leptos-state/src/machine/codegen_ext.rs
  leptos-state/src/machine/core/core.rs
  leptos-state/src/machine/integration/core/manager.rs
  leptos-state/src/machine/integration_ext.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/performance_monitor.rs
  leptos-state/src/machine/testing_advanced.rs
  leptos-state/src/machine/visualization/mod.rs
  leptos-state/src/store/store_core.rs
  leptos-state/src/store/store_simple.rs
Due: check-version-consistency, check-documentation-links

🎯 PHASE 9 COMPLETE: Final Remediation Push
  leptos-state/src/lib.rs
  leptos-state/src/machine/mod.rs
  leptos-state/src/machine/testing_advanced.rs
Due: none

🚀 **MAJOR COMPILATION PROGRESS: 298 → 280 errors (6% improvement)**
  leptos-state/src/machine/codegen/core/generator.rs
  leptos-state/src/machine/codegen_ext.rs
  leptos-state/src/machine/integration/events/batch.rs
  leptos-state/src/machine/integration/events/core.rs
  leptos-state/src/machine/integration_adapters.rs
  leptos-state/src/machine/integration_ext.rs
  leptos-state/src/machine/persistence/metadata/schema.rs
  leptos-state/src/machine/persistence/metadata/stats.rs
  leptos-state/src/machine/persistence_core.rs
Due: none

🚀 **MAJOR COMPILATION PROGRESS: 280 → 277 errors (1% improvement)**
  leptos-state/src/machine/core/core.rs
  leptos-state/src/machine/persistence/metadata/schema.rs
  leptos-state/src/machine/visualization_core.rs
Due: none

🚀 **MAJOR COMPILATION PROGRESS: 270 → 265 errors (2% improvement)**
  leptos-state/src/machine/history_builder.rs
  leptos-state/src/machine/history_machine.rs
  leptos-state/src/machine/persistence/manager/core.rs
  leptos-state/src/machine/persistence/metadata/schema.rs
  leptos-state/src/machine/test_builder.rs
  leptos-state/src/machine/test_runner.rs
  leptos-state/src/machine/visualization/monitor/state_info.rs
  leptos-state/src/machine/visualization_core.rs
Due: none

🚀 **MAJOR COMPILATION PROGRESS: 258 → 252 errors (2.3% improvement)**
  leptos-state/src/machine/doc_builder.rs
  leptos-state/src/machine/doc_generator.rs
  leptos-state/src/machine/history_machine.rs
  leptos-state/src/machine/test_builder.rs
  leptos-state/src/machine/visualization_ext.rs
Due: none

🚀 **MAJOR COMPILATION PROGRESS: 249 → 243 errors (2.4% improvement)**
  leptos-state/src/machine/integration/events/batch.rs
  leptos-state/src/machine/integration/events/core.rs
  leptos-state/src/machine/integration_ext.rs
  leptos-state/src/machine/persistence/manager/core.rs
  leptos-state/src/machine/visualization_ext.rs
Due: none

🚀 **MAJOR COMPILATION PROGRESS: 242 → 238 errors (1.7% improvement)**
  leptos-state/src/machine/integration_ext.rs
  leptos-state/src/machine/persistence/manager/core.rs
Due: none

🚀 **FINAL COMPILATION PROGRESS: 237 → 236 errors (0.4% improvement)**
  leptos-state/src/machine/guard_builder.rs
  leptos-state/src/machine/history_machine.rs
  leptos-state/src/machine/history_tracker.rs
  leptos-state/src/machine/integration_testing.rs
  leptos-state/src/machine/test_cases.rs
  leptos-state/src/machine/visualization/monitor/health.rs
  leptos-state/src/machine/visualization/monitor/monitor.rs
  leptos-state/src/machine/visualization/monitor/state_info.rs
Due: none

🎉 **MAJOR MILESTONE ACHIEVED: COMPILATION ERRORS ELIMINATED/Users/peterhanssens/consulting/Leptos/leptos-state && git add .*
  docs/comparison/XSTATE_COMPARISON.md
  docs/design/config-sources-refactor.md
  docs/design/core-state-machine-design.md
  docs/design/integration-adapters-refactor.md
  docs/remediation/MASTER_REMEDIATION_PLAN.md
  leptos-state/src/machine/performance_builder.rs
  leptos-state/src/machine/performance_metrics.rs
  leptos-state/src/machine/persistence/ext/builder.rs
  leptos-state/src/machine/persistence/ext/core.rs
  leptos-state/src/machine/persistence/ext/info.rs
  leptos-state/src/machine/persistence/ext/machine.rs
  leptos-state/src/machine/persistence/manager/core.rs
  leptos-state/src/machine/persistence_core.rs
  leptos-state/src/machine/state_builder.rs
  leptos-state/src/machine/test_builder.rs.backup
  leptos-state/src/machine/test_cases.rs
  leptos-state/src/machine/test_types.rs
Due: check-version-consistency, check-documentation-links
